@import '../../../../scss/const';

.Category {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: .25rem $default-padding-horizontal;

    &-Title {
        flex: 1;
    }

    &:nth-child(2n) {
        background: #f0f0f0;
    }
}
