@import '../../scss/z-indexes';
@import '../../scss/const';

.Header {
    z-index: $zIndex-header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;

    background: var(--color-primary);
    color: white;

    height: $header-height;

    &-Hamburger,
    &-Search {
        width: $header-height;
        height: $header-height;
        line-height: 0;

        background: transparent;

        cursor: pointer;

        svg {
            fill: white;
            width: 2rem;
            height: 2rem;
            margin: .5rem;
        }
    }

    &-Title {
        flex: 1;
        font: 1.2rem Roboto;
        line-height: 2rem;
        margin: .5rem .2rem;
    }
}
