@import '../../scss/const';

.Review {
    padding: .5rem $default-padding-horizontal;

    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

    & + & {
        margin-top: .7rem;
    }

    &-Header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-Footer {
        margin-top: .2rem;
        color: gray;
        font-size: smaller;
    }
}
