.Select {
    &_inline {
        display: inline-block;
    }

    &-Value {
        position: relative;
        display: block;

        padding: .25rem 1.65rem .25rem .5rem;

        text-align: left;

        width: 100%;

        background: transparent;

        border: 2px solid var(--input-border);
        border-radius: 4px;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &::after {
            content: '';
            display: block;

            position: absolute;

            top: .75rem;
            right: .5rem;

            width: 0;
            height: 0;

            border: 7px solid transparent;
            border-top-color: var(--input-border);
        }
    }

    &-Item {
        position: relative;
        display: grid;
        width: 100%;

        grid-template-columns: 2rem 1fr 2rem;

        padding: .75rem .25rem;
        font-size: 1rem;

        background: transparent;

        &_active {
            color: var(--color-primary);
        }

        &Icon {
            grid-column: 1 / 2;
        }

        &Title {
            grid-column: 2 / 3;
        }

        &ActiveIcon {
            grid-column: 3 / 4;
        }

        &Icon,
        &ActiveIcon {
            width: 1.4rem;
            height: 1.4rem;
        }
    }
}
