@import '../../scss/hide-scroll';
@import '../../scss/z-indexes';

.SiteMenu {
    z-index: $zIndex-site-menu;
    position: fixed;
    top: 0;
    right: 100%;
    min-width: 60vw;
    max-width: 400px;

    background: white;

    height: 100vh;

    overflow-y: auto;
    @include hide-scroll;

    transition: transform .2s ease-out;

    .Root_menu-opened & {
        transform: translateX(100%);
    }

    &-Item {
        $padding-horizontal: .5rem;
        $padding-vertical: .4rem;
        $icon-size: 1.6rem;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        text-decoration: none;

        color: gray;

        padding: $padding-vertical $padding-horizontal;

        &Icon {
            width: $icon-size;
            height: $icon-size;
        }

        &Title {
            margin-left: $padding-horizontal;
            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: $icon-size;
        }
    }
}
