@import '../../scss/z-indexes';

.Modal {
    $animation-duration: .3s;

    z-index: $zIndex-modal;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: end;

    &-Window {
        z-index: #{$zIndex-modal + 5};
        background: var(--color-background);

        max-height: 75vh;

        overflow-y: auto;

        margin-bottom: 0;
        // спасибо блядскому иоплу за его всратые еновации
        margin-bottom: env(safe-area-inset-bottom);
    }
}