@use 'sass:math';

.StarRating {
    $star-size: 26px; // 1.6rem
    $base-zIndex: 20;
    $color: orange;

    $svg-off: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='#{$color}' d='M12,15.39L8.24,17.66L9.23,13.38L5.91,10.5L10.29,10.13L12,6.09L13.71,10.13L18.09,10.5L14.77,13.38L15.76,17.66M22,9.24L14.81,8.63L12,2L9.19,8.63L2,9.24L7.45,13.97L5.82,21L12,17.27L18.18,21L16.54,13.97L22,9.24Z' /%3E%3C/svg%3E");
    $svg-on: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='#{$color}' d='M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z' /%3E%3C/svg%3E");

    position: relative;
    line-height: 0;

    width: #{$star-size * 10};

    height: $star-size;

    &-Star {
        position: absolute;
        left: 0;
        width: $star-size;
        height: $star-size;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background: $svg-off left center repeat-x;
        background-size: $star-size;

        cursor: pointer;

        @for $i from 1 to 11 {
            &:nth-child(#{$i}) {
                z-index: #{$base-zIndex - $i};
                width: #{$i * $star-size};
            }
        }

        &:focus-visible {
            $outline-size: .2rem;
            outline: $outline-size solid red;
            outline-offset: -$outline-size;
        }

        &:hover,
        &:checked {
            background-image: $svg-on;
        }

        &:hover ~ & {
            background-image: $svg-off;
        }
    }

    &[data-index] &-Fire {
        $item-size: 5px;
        content: '';
        position: absolute;
        width: $item-size;
        height: $item-size;
        border-radius: 50%;

        top: #{math.div($star-size, 2)};
        left: calc(var(--star-index) * #{$star-size} - #{math.div($star-size + $item-size, 2)});

        box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
        animation:
                1s fireworks-bang ease-out 1 backwards,
                1s fireworks-gravity ease-in 1 backwards;

        @keyframes fireworks-bang {
            to {
                box-shadow:
                        46px -51px $color,
                        -18px -68px $color,
                        -19px -59px $color,
                        32px -77px $color,
                        -1px -20px $color,
                        22px -69px $color,
                        -19px -18px $color,
                        -5px 14px $color,
                        40px -10px $color,
                        -5px 0 $color,
                        -33px -11px $color,
                        -9px -61px $color,
                        10px -68px $color,
                        -3px -81px $color,
                        33px -29px $color,
                        4px -20px $color;
            }
        }

        @keyframes fireworks-gravity {
            to {
                transform: translateY(100px);
                opacity: 0;
            }
        }
    }
}



