.StarRatingStatic {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;

    &-Block {
        display: flex;
        flex-flow: row nowrap;

        font-size: 20px;
        line-height: 1;

        user-select: none;
        cursor: default;
    }

    &_large &-Block {
        font-size: 22px;

        @media screen and (min-width: 400px) {
            font-size: 28px;
        }
    }

    // todo: унести это в block
    &_filled {
        color: orange;
    }

    &_empty {
        color: gray;
    }

    &_centered {
        justify-content: center;
    }

    &-Voters {
        color: gray;
        margin-left: .8rem;
    }

    &-Value {
        font-size: 22px;
        font-weight: 900;
        margin-right: .8rem;

        @media screen and (min-width: 400px) {
            font-size: 24px;
        }
    }
}